---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20nj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"99ce2c5a1a5a6e7c89eb0d6a8966a5cf"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8zN8acX8WLA","created_at":"2021-10-08T13:09:47-04:00","updated_at":"2021-11-15T12:30:49-05:00","promoted_at":null,"width":3936,"height":2624,"color":"#404040","blur_hash":"LsB#6ojbRjof%%a#WBjtgjayjZjs","description":null,"alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1633712922538-b2200696a056?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1633712922538-b2200696a056?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1633712922538-b2200696a056?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1633712922538-b2200696a056?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1633712922538-b2200696a056?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/8zN8acX8WLA","html":"https://unsplash.com/photos/8zN8acX8WLA","download":"https://unsplash.com/photos/8zN8acX8WLA/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY","download_location":"https://api.unsplash.com/photos/8zN8acX8WLA/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NTY"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"r66IllKvmPc","updated_at":"2021-11-10T01:33:52-05:00","username":"joeypedras","name":"Joey
        Pedras","first_name":"Joey","last_name":"Pedras","twitter_username":"JoeyPedras","portfolio_url":null,"bio":"Based
        in North NJ. Writer, sometimes filmmaker, and pizza lover. I enjoy shooting
        landscapes, surrealism and abstract images, and portraits.","location":"New
        Jersey","links":{"self":"https://api.unsplash.com/users/joeypedras","html":"https://unsplash.com/@joeypedras","photos":"https://api.unsplash.com/users/joeypedras/photos","likes":"https://api.unsplash.com/users/joeypedras/likes","portfolio":"https://api.unsplash.com/users/joeypedras/portfolio","following":"https://api.unsplash.com/users/joeypedras/following","followers":"https://api.unsplash.com/users/joeypedras/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"joeypedras","total_collections":0,"total_likes":0,"total_photos":13,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"joeypedras","portfolio_url":null,"twitter_username":"JoeyPedras","paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON Z 6","name":"NIKON CORPORATION, NIKON Z 6","exposure_time":"1/3200","aperture":"4.8","focal_length":"72.0","iso":400},"location":{"title":"Richard
        W. DeKorte Park, DeKorte Park, Lyndhurst, NJ, USA","name":"Richard W. DeKorte
        Park, DeKorte Park, Lyndhurst, NJ, USA","city":"Lyndhurst","country":"United
        States","position":{"latitude":40.77727,"longitude":-74.108091}},"views":2246,"downloads":15}'
  recorded_at: Mon, 15 Nov 2021 23:59:16 GMT
recorded_with: VCR 6.0.0
