---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79-TahAnoz07dnhkBAPY8usdH3V1oU"
    body:
      encoding: UTF-8
      string: '{"activity":"Go for a walk","type":"relaxation","participants":1,"price":0,"link":"","key":"4286250","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 23:59:08 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-xrgxGUW0K2Q9nfcslQ2WkUZjzfw"
    body:
      encoding: UTF-8
      string: '{"activity":"Patronize a local independent restaurant","type":"recreational","participants":1,"price":0.2,"link":"","key":"5319204","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 23:59:10 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 23:59:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Sparta,
        NJ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sparta","adminArea5Type":"City","adminArea4":"Sussex
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282919395","unknownInput":"","type":"s","latLng":{"lat":41.03608,"lng":-74.636612},"displayLatLng":{"lat":41.03608,"lng":-74.636612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&type=map&size=225,160&locations=41.03608,-74.636612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1183408194"}]}]}'
  recorded_at: Mon, 15 Nov 2021 23:59:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=41.03608&lon=-74.636612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.0361,"lon":-74.6366,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637020750,"sunrise":1636976792,"sunset":1637012405,"temp":38.48,"feels_like":34.68,"pressure":1013,"humidity":73,"dew_point":30.76,"uvi":0,"clouds":44,"visibility":10000,"wind_speed":5.01,"wind_deg":341,"wind_gust":8.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1637017200,"temp":38.35,"feels_like":31.6,"pressure":1013,"humidity":74,"dew_point":30.96,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":9.98,"wind_deg":280,"wind_gust":25.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1637020800,"temp":38.48,"feels_like":31.69,"pressure":1013,"humidity":73,"dew_point":30.76,"uvi":0,"clouds":44,"visibility":10000,"wind_speed":10.16,"wind_deg":276,"wind_gust":25.1,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1637024400,"temp":37.98,"feels_like":30.78,"pressure":1013,"humidity":74,"dew_point":30.63,"uvi":0,"clouds":39,"visibility":10000,"wind_speed":10.83,"wind_deg":279,"wind_gust":26.46,"weather":[{"id":802[...]
