---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"444091a7f4ad7cf96bbb95bfafc74701"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8_KIF4AWMKE","created_at":"2019-10-07T09:46:47-04:00","updated_at":"2021-11-13T23:11:06-05:00","promoted_at":null,"width":5757,"height":3598,"color":"#8c8c8c","blur_hash":"LQEp4rM{RPay~qt7M|ayRifRM{of","description":"The
        wind cried a lamentation,\nbefore merging with the grey.","alt_description":"mountain
        with fog","urls":{"raw":"https://images.unsplash.com/photo-1570455998951-a7cba572fc41?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1570455998951-a7cba572fc41?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1570455998951-a7cba572fc41?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1570455998951-a7cba572fc41?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1570455998951-a7cba572fc41?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/8_KIF4AWMKE","html":"https://unsplash.com/photos/8_KIF4AWMKE","download":"https://unsplash.com/photos/8_KIF4AWMKE/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg","download_location":"https://api.unsplash.com/photos/8_KIF4AWMKE/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA4MTg"},"categories":[],"likes":39,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"6AIwkPhhJH0","updated_at":"2021-11-14T17:06:38-05:00","username":"plloyd","name":"Peter
        Lloyd","first_name":"Peter","last_name":"Lloyd","twitter_username":"onestoneaudio","portfolio_url":"http://peterlloyd.photography","bio":"Freelance
        Photographer | Web Developer | Audio Engineer based in Jersey City, NJ. Available
        for hire.\r\n\r\nGuitar player in death metal band Replicant. Live to create.\r\n\r\nIf
        you enjoy my work, please consider donating:\r\nbuymeacoff.ee/Iha2YDv09","location":"Jersey
        City, New Jersey","links":{"self":"https://api.unsplash.com/users/plloyd","html":"https://unsplash.com/@plloyd","photos":"https://api.unsplash.com/users/plloyd/photos","likes":"https://api.unsplash.com/users/plloyd/likes","portfolio":"https://api.unsplash.com/users/plloyd/portfolio","following":"https://api.unsplash.com/users/plloyd/following","followers":"https://api.unsplash.com/users/plloyd/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1540609965885-b5da0a95383c?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1540609965885-b5da0a95383c?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1540609965885-b5da0a95383c?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"anotherpeterlloyd","total_collections":2,"total_likes":10,"total_photos":56,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"anotherpeterlloyd","portfolio_url":"http://peterlloyd.photography","twitter_username":"onestoneaudio","paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark IV","name":"Canon, EOS 5D Mark IV","exposure_time":"1/320","aperture":"8","focal_length":"35.0","iso":250},"location":{"title":"Mount
        Tammany, Knowlton Township, NJ, USA","name":"Mount Tammany, Knowlton Township,
        NJ, USA","city":null,"country":"United States","position":{"latitude":40.9679876,"longitude":-75.1130788}},"views":18033,"downloads":326}'
  recorded_at: Sun, 14 Nov 2021 23:00:18 GMT
recorded_with: VCR 6.0.0
