---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"f73c55f502fac9b12f204a07c0542025"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"izKcHPkUz0M","created_at":"2020-12-22T17:03:22-05:00","updated_at":"2021-11-14T23:22:03-05:00","promoted_at":null,"width":6688,"height":4459,"color":"#594026","blur_hash":"LCD8zdNeobRj=]R*t5bI0ej?jHkC","description":"The
        inside of the casino at Asbury Park.","alt_description":"people walking on
        sidewalk near red and white building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1608674510161-1326a0df2f39?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1608674510161-1326a0df2f39?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1608674510161-1326a0df2f39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1608674510161-1326a0df2f39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1608674510161-1326a0df2f39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/izKcHPkUz0M","html":"https://unsplash.com/photos/izKcHPkUz0M","download":"https://unsplash.com/photos/izKcHPkUz0M/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU","download_location":"https://api.unsplash.com/photos/izKcHPkUz0M/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NDU"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"2fddgalPSIE","updated_at":"2021-11-13T20:45:48-05:00","username":"lukephotography","name":"Keith
        Luke","first_name":"Keith","last_name":"Luke","twitter_username":"griffinclubmerv","portfolio_url":null,"bio":null,"location":"Maine","links":{"self":"https://api.unsplash.com/users/lukephotography","html":"https://unsplash.com/@lukephotography","photos":"https://api.unsplash.com/users/lukephotography/photos","likes":"https://api.unsplash.com/users/lukephotography/likes","portfolio":"https://api.unsplash.com/users/lukephotography/portfolio","following":"https://api.unsplash.com/users/lukephotography/following","followers":"https://api.unsplash.com/users/lukephotography/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1518570200077-c164ea5f07c4?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1518570200077-c164ea5f07c4?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1518570200077-c164ea5f07c4?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"griffinclubmerv","total_collections":0,"total_likes":14,"total_photos":62,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"griffinclubmerv","portfolio_url":null,"twitter_username":"griffinclubmerv","paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark IV","name":"Canon, EOS 5D Mark IV","exposure_time":"1/10","aperture":"4.0","focal_length":"26.0","iso":100},"location":{"title":"Asbury
        Park, NJ 07712, USA","name":"Asbury Park, NJ 07712, USA","city":"Asbury Park","country":"United
        States","position":{"latitude":40.220391,"longitude":-74.012082}},"views":3958,"downloads":96}'
  recorded_at: Mon, 15 Nov 2021 23:59:05 GMT
recorded_with: VCR 6.0.0
