---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"c976d5edcbdf3cde3f51d8cf15b9e034"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"gTRIGQAvTnY","created_at":"2021-10-08T13:13:10-04:00","updated_at":"2021-11-15T01:29:11-05:00","promoted_at":null,"width":3936,"height":2624,"color":"#d9d9d9","blur_hash":"LELz%8-=D+4T_3RPIAxvRjWBM{WE","description":null,"alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1633713164623-f0461ae765c9?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1633713164623-f0461ae765c9?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1633713164623-f0461ae765c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1633713164623-f0461ae765c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1633713164623-f0461ae765c9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/gTRIGQAvTnY","html":"https://unsplash.com/photos/gTRIGQAvTnY","download":"https://unsplash.com/photos/gTRIGQAvTnY/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM","download_location":"https://api.unsplash.com/photos/gTRIGQAvTnY/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5OTg0MzM"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"r66IllKvmPc","updated_at":"2021-11-10T01:33:52-05:00","username":"joeypedras","name":"Joey
        Pedras","first_name":"Joey","last_name":"Pedras","twitter_username":"JoeyPedras","portfolio_url":null,"bio":"Based
        in North NJ. Writer, sometimes filmmaker, and pizza lover. I enjoy shooting
        landscapes, surrealism and abstract images, and portraits.","location":"New
        Jersey","links":{"self":"https://api.unsplash.com/users/joeypedras","html":"https://unsplash.com/@joeypedras","photos":"https://api.unsplash.com/users/joeypedras/photos","likes":"https://api.unsplash.com/users/joeypedras/likes","portfolio":"https://api.unsplash.com/users/joeypedras/portfolio","following":"https://api.unsplash.com/users/joeypedras/following","followers":"https://api.unsplash.com/users/joeypedras/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1613744455438-467d51d7c19aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"joeypedras","total_collections":0,"total_likes":0,"total_photos":13,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"joeypedras","portfolio_url":null,"twitter_username":"JoeyPedras","paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON Z 6","name":"NIKON CORPORATION, NIKON Z 6","exposure_time":"1/400","aperture":"5","focal_length":"35.0","iso":500},"location":{"title":"Branch
        Brook Park Drive, Newark, NJ, USA","name":"Branch Brook Park Drive, Newark,
        NJ, USA","city":"Newark","country":"United States","position":{"latitude":40.770044,"longitude":-74.174467}},"views":2006,"downloads":33}'
  recorded_at: Mon, 15 Nov 2021 17:47:19 GMT
recorded_with: VCR 6.0.0
