---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=41.03608&lon=-74.636612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.0361,"lon":-74.6366,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636902321,"sunrise":1636890320,"sunset":1636926056,"temp":41.04,"feels_like":41.04,"pressure":1014,"humidity":70,"dew_point":32.02,"uvi":1.16,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":224,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1636902000,"temp":41.04,"feels_like":37.04,"pressure":1014,"humidity":70,"dew_point":32.02,"uvi":1.16,"clouds":1,"visibility":10000,"wind_speed":5.93,"wind_deg":247,"wind_gust":9.08,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636905600,"temp":40.91,"feels_like":36.61,"pressure":1014,"humidity":71,"dew_point":32.25,"uvi":1.21,"clouds":17,"visibility":10000,"wind_speed":6.38,"wind_deg":238,"wind_gust":9.28,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1636909200,"temp":40.66,"feels_like":36.14,"pressure":1014,"humidity":72,"dew_point":32.36,"uvi":1.36,"clouds":35,"visibility":10000,"wind_speed":6.64,"wind_deg":223,"wind_gust":9.66,"weather":[{"id":802,"m[...]
