---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"f7c6a5b078ec0bf7bea9c166a34858a9"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"REc1RRBkk6M","created_at":"2021-02-08T10:55:45-05:00","updated_at":"2021-11-14T09:30:08-05:00","promoted_at":null,"width":6000,"height":4000,"color":"#a6d9f3","blur_hash":"LJK2bcM^nmRiYRW=ahj]7iWBMwtR","description":"A
        snow day at the water hole ","alt_description":"brown and white horses on
        snow covered ground during daytime","urls":{"raw":"https://images.unsplash.com/photo-1612799050137-8ae1e9c3e709?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1612799050137-8ae1e9c3e709?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1612799050137-8ae1e9c3e709?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1612799050137-8ae1e9c3e709?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1612799050137-8ae1e9c3e709?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/REc1RRBkk6M","html":"https://unsplash.com/photos/REc1RRBkk6M","download":"https://unsplash.com/photos/REc1RRBkk6M/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY","download_location":"https://api.unsplash.com/photos/REc1RRBkk6M/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA3MzY"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"YXqua-xP9-A","updated_at":"2021-11-13T04:15:40-05:00","username":"otiv345","name":"Vito
        Natale","first_name":"Vito","last_name":"Natale","twitter_username":null,"portfolio_url":null,"bio":"Vito
        Natale is a singer song writer located in South Jersey USA. if you are interested
        in his music you can stream his music any where you can stream music on line.
        I like photographing wild life horses ,cows in nature. Enjoy my photos.\r\n","location":"South
        New Jersey USA","links":{"self":"https://api.unsplash.com/users/otiv345","html":"https://unsplash.com/@otiv345","photos":"https://api.unsplash.com/users/otiv345/photos","likes":"https://api.unsplash.com/users/otiv345/likes","portfolio":"https://api.unsplash.com/users/otiv345/portfolio","following":"https://api.unsplash.com/users/otiv345/following","followers":"https://api.unsplash.com/users/otiv345/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1589552829104-2b22b15cec7aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1589552829104-2b22b15cec7aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1589552829104-2b22b15cec7aimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":10,"total_likes":40,"total_photos":482,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D5200","name":"NIKON CORPORATION, NIKON D5200","exposure_time":"1/250","aperture":"8.0","focal_length":"116.0","iso":100},"location":{"title":"Gloucester
        County, NJ, USA","name":"Gloucester County, NJ, USA","city":null,"country":"United
        States","position":{"latitude":39.710302,"longitude":-75.107833}},"views":5556,"downloads":50}'
  recorded_at: Sun, 14 Nov 2021 22:58:56 GMT
recorded_with: VCR 6.0.0
