---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"ed86616be0017c791de78597de36baa8"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"-IdTjlQ9TUo","created_at":"2020-04-05T14:11:18-04:00","updated_at":"2021-11-15T11:15:55-05:00","promoted_at":null,"width":6000,"height":4000,"color":"#262626","blur_hash":"LPCsjj~qRjRj?bofIUWBD%D%M{t7","description":"Surfer
        looking at the waves while another surfer walks by. ","alt_description":"man
        and woman kissing on beach during daytime","urls":{"raw":"https://images.unsplash.com/photo-1586110250543-014f46f3dddd?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1586110250543-014f46f3dddd?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1586110250543-014f46f3dddd?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1586110250543-014f46f3dddd?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1586110250543-014f46f3dddd?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/-IdTjlQ9TUo","html":"https://unsplash.com/photos/-IdTjlQ9TUo","download":"https://unsplash.com/photos/-IdTjlQ9TUo/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA","download_location":"https://api.unsplash.com/photos/-IdTjlQ9TUo/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3NjA"},"categories":[],"likes":8,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"qu2LJokwvRw","updated_at":"2021-11-15T13:47:28-05:00","username":"harrisonkugler","name":"Harrison
        Kugler","first_name":"Harrison","last_name":"Kugler","twitter_username":"HarrisonKugler","portfolio_url":"https://harrisonkugler.com","bio":null,"location":"New
        Jersey ","links":{"self":"https://api.unsplash.com/users/harrisonkugler","html":"https://unsplash.com/@harrisonkugler","photos":"https://api.unsplash.com/users/harrisonkugler/photos","likes":"https://api.unsplash.com/users/harrisonkugler/likes","portfolio":"https://api.unsplash.com/users/harrisonkugler/portfolio","following":"https://api.unsplash.com/users/harrisonkugler/following","followers":"https://api.unsplash.com/users/harrisonkugler/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1613252492890-55a53e2fc468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1613252492890-55a53e2fc468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1613252492890-55a53e2fc468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"harrison_kugler","total_collections":11,"total_likes":87,"total_photos":99,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"harrison_kugler","portfolio_url":"https://harrisonkugler.com","twitter_username":"HarrisonKugler","paypal_email":null}},"exif":{"make":"SONY","model":"ILCE-6000","name":"SONY,
        ILCE-6000","exposure_time":"1/1250","aperture":"5.6","focal_length":"109.0","iso":100},"location":{"title":"Loch
        Arbour, NJ, USA","name":"Loch Arbour, NJ, USA","city":"Loch Arbour","country":"United
        States","position":{"latitude":40.23289,"longitude":-74.00097}},"views":61919,"downloads":291}'
  recorded_at: Mon, 15 Nov 2021 23:59:20 GMT
recorded_with: VCR 6.0.0
