---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"9a16d8e83ef5474ed830ccfa54d4e098"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b6L9Zo879Lc","created_at":"2020-12-17T16:33:37-05:00","updated_at":"2021-11-15T13:21:35-05:00","promoted_at":null,"width":3209,"height":5134,"color":"#c0c0c0","blur_hash":"LlG8=qf6aKof?^s.WBj[x]W=bIWC","description":null,"alt_description":"green
        trees near body of water during daytime","urls":{"raw":"https://images.unsplash.com/photo-1608234842901-0883e3d42741?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1608234842901-0883e3d42741?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1608234842901-0883e3d42741?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1608234842901-0883e3d42741?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1608234842901-0883e3d42741?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/b6L9Zo879Lc","html":"https://unsplash.com/photos/b6L9Zo879Lc","download":"https://unsplash.com/photos/b6L9Zo879Lc/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY","download_location":"https://api.unsplash.com/photos/b6L9Zo879Lc/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwOTY"},"categories":[],"likes":2,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"nature":{"status":"rejected"}},"user":{"id":"G5Eyoq9_d1E","updated_at":"2021-11-15T13:27:27-05:00","username":"sekc_photography","name":"Sekwang
        Chia","first_name":"Sekwang","last_name":"Chia","twitter_username":null,"portfolio_url":"https://www.instagram.com/sekc_photography/","bio":"Montreal,
        QC, Canada\r\nIf you enjoy my photography please give me a follow on instagram,
        link below!","location":"Canada","links":{"self":"https://api.unsplash.com/users/sekc_photography","html":"https://unsplash.com/@sekc_photography","photos":"https://api.unsplash.com/users/sekc_photography/photos","likes":"https://api.unsplash.com/users/sekc_photography/likes","portfolio":"https://api.unsplash.com/users/sekc_photography/portfolio","following":"https://api.unsplash.com/users/sekc_photography/following","followers":"https://api.unsplash.com/users/sekc_photography/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1608234617-0f77013bb213.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-fb-1608234617-0f77013bb213.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-fb-1608234617-0f77013bb213.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sekc_photography","total_collections":4,"total_likes":69,"total_photos":41,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"sekc_photography","portfolio_url":"https://www.instagram.com/sekc_photography/","twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D3400","name":"NIKON CORPORATION, NIKON D3400","exposure_time":"1/2000","aperture":"5.3","focal_length":"48.0","iso":100},"location":{"title":"Johnson
        Lake, Byram Township, NJ, USA","name":"Johnson Lake, Byram Township, NJ, USA","city":null,"country":"United
        States","position":{"latitude":40.964211,"longitude":-74.723831}},"views":40610,"downloads":125}'
  recorded_at: Tue, 16 Nov 2021 17:18:16 GMT
recorded_with: VCR 6.0.0
