---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=40.731506&lon=-74.174385&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7315,"lon":-74.1744,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637083084,"sunrise":1637063109,"sunset":1637098690,"temp":48.24,"feels_like":42.69,"pressure":1020,"humidity":50,"dew_point":30.67,"uvi":1.73,"clouds":20,"visibility":10000,"wind_speed":13.8,"wind_deg":260,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1637082000,"temp":48.24,"feels_like":43.84,"pressure":1020,"humidity":50,"dew_point":30.67,"uvi":1.73,"clouds":20,"visibility":10000,"wind_speed":10.02,"wind_deg":280,"wind_gust":15.26,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637085600,"temp":48.31,"feels_like":43.83,"pressure":1020,"humidity":47,"dew_point":29.39,"uvi":1.54,"clouds":18,"visibility":10000,"wind_speed":10.31,"wind_deg":275,"wind_gust":16.15,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637089200,"temp":48.6,"feels_like":44.04,"pressure":1020,"humidity":44,"dew_point":28.2,"uvi":1.1,"clouds":42,"visibility":10000,"wind_speed":10.78,"wind_deg":276,"wind_gust":15.68,"weather":[{"id":802,"[...]
