---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 17:17:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Sparta,
        NJ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sparta","adminArea5Type":"City","adminArea4":"Sussex
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282919395","unknownInput":"","type":"s","latLng":{"lat":41.03608,"lng":-74.636612},"displayLatLng":{"lat":41.03608,"lng":-74.636612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&type=map&size=225,160&locations=41.03608,-74.636612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-113680864"}]}]}'
  recorded_at: Tue, 16 Nov 2021 17:17:49 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=41.03608&lon=-74.636612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.0361,"lon":-74.6366,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637083069,"sunrise":1637063264,"sunset":1637098757,"temp":45.18,"feels_like":44.22,"pressure":1019,"humidity":56,"dew_point":30.61,"uvi":1.03,"clouds":40,"visibility":10000,"wind_speed":3,"wind_deg":257,"wind_gust":7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1637082000,"temp":45.18,"feels_like":40.35,"pressure":1019,"humidity":56,"dew_point":30.61,"uvi":1.03,"clouds":40,"visibility":10000,"wind_speed":9.26,"wind_deg":287,"wind_gust":14.79,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1637085600,"temp":45.05,"feels_like":40.01,"pressure":1019,"humidity":54,"dew_point":29.73,"uvi":0.92,"clouds":37,"visibility":10000,"wind_speed":9.73,"wind_deg":282,"wind_gust":15.39,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1637089200,"temp":44.98,"feels_like":39.97,"pressure":1019,"humidity":52,"dew_point":28.85,"uvi":0.64,"clouds":60,"visibility":10000,"wind_speed":9.57,"wind_deg":279,"wind_gust":15.68,"weather":[{"id[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"97-JbFu+LMV+jFjwnWr5c0DNGI26co"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a movie you''d never usually watch","type":"relaxation","participants":1,"price":0.15,"link":"","key":"9212950","accessibility":0.15}'
  recorded_at: Tue, 16 Nov 2021 17:17:53 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90-fwLust8Pwf3PmjZEQpc5t1C/uQo"
    body:
      encoding: UTF-8
      string: '{"activity":"Prepare a dish from a foreign culture","type":"cooking","participants":1,"price":0.2,"link":"","key":"8061754","accessibility":0.3}'
  recorded_at: Tue, 16 Nov 2021 17:17:56 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=Miami,%20FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 17:25:47 GMT
      Reversegeo[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637083547,"sunrise":1637062784,"sunset":1637101905,"temp":77.85,"feels_like":78.44,"pressure":1021,"humidity":66,"dew_point":65.59,"uvi":5.08,"clouds":1,"visibility":10000,"wind_speed":5.01,"wind_deg":54,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1637082000,"temp":77.85,"feels_like":78.44,"pressure":1021,"humidity":66,"dew_point":65.59,"uvi":5.08,"clouds":1,"visibility":10000,"wind_speed":16.62,"wind_deg":61,"wind_gust":17.31,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1637085600,"temp":77.63,"feels_like":78.06,"pressure":1021,"humidity":63,"dew_point":64.04,"uvi":4.94,"clouds":21,"visibility":10000,"wind_speed":16.17,"wind_deg":63,"wind_gust":16.73,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":2.05}},{"dt":1637089200,"temp":77.4,"feels_like":77.7,"pressure":1021,"humidity":61,"dew_point":62.91,"uvi":3.67,"clouds":41,"visibility":10000,"wind_speed":15.97,"wind_deg":64,"wind_gust":16.73,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1637092800,"temp":77.04,"feels_like":77.25,"pressure":1020,"humidity":60,"dew_point":62.1,"uvi":2.21,"clouds":60,"visibility":10000,"wind_speed":15.55,"wind_deg":59,"wind_gust":16.31,"weather[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-3ZxdU+hXSKBkEZQosRPBHppN7HU"
    body:
      encoding: UTF-8
      string: '{"activity":"Start a blog for something you''re passionate about","type":"recreational","participants":1,"price":0.05,"link":"","key":"8364626","accessibility":0.1}'
  recorded_at: Tue, 16 Nov 2021 17:25:51 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=Detroit,%20MI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 17:25:51 GMT
      Reverseg[...]
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 17:27:56 GMT
      [...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-XFuUUL8UsLBWXLeIkCQzRRdqGKk"
    body:
      encoding: UTF-8
      string: '{"activity":"Create and follow a savings plan","type":"busywork","participants":1,"price":0,"link":"","key":"9366464","accessibility":0.2}'
  recorded_at: Tue, 16 Nov 2021 17:27:59 GMT
recorded_with: VCR 6.0.0
