---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a585205b570c4620a48949e1857af6c7&exclude=minutely,alerts&lat=41.03608&lon=-74.636612&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.0361,"lon":-74.6366,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637083069,"sunrise":1637063264,"sunset":1637098757,"temp":45.18,"feels_like":44.22,"pressure":1019,"humidity":56,"dew_point":30.61,"uvi":1.03,"clouds":40,"visibility":10000,"wind_speed":3,"wind_deg":257,"wind_gust":7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1637082000,"temp":45.18,"feels_like":40.35,"pressure":1019,"humidity":56,"dew_point":30.61,"uvi":1.03,"clouds":40,"visibility":10000,"wind_speed":9.26,"wind_deg":287,"wind_gust":14.79,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1637085600,"temp":45.05,"feels_like":40.01,"pressure":1019,"humidity":54,"dew_point":29.73,"uvi":0.92,"clouds":37,"visibility":10000,"wind_speed":9.73,"wind_deg":282,"wind_gust":15.39,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1637089200,"temp":44.98,"feels_like":39.97,"pressure":1019,"humidity":52,"dew_point":28.85,"uvi":0.64,"clouds":60,"visibility":10000,"wind_speed":9.57,"wind_deg":279,"wind_gust":15.68,"weather":[{"id[...]
