---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"cb95505c5ad2be29848561065539fd14"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"xAjDVTbZCXc","created_at":"2021-09-09T11:45:15-04:00","updated_at":"2021-11-14T00:28:42-05:00","promoted_at":null,"width":5760,"height":3840,"color":"#404040","blur_hash":"LTH_#,f5Riof~XWCays:IU%LWCay","description":"PROSPEC
        Competition at Formula Drift New Jersey, 2021. ","alt_description":"white
        and red racing car on track during daytime","urls":{"raw":"https://images.unsplash.com/photo-1631201983450-97f67ba02690?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1631201983450-97f67ba02690?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1631201983450-97f67ba02690?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1631201983450-97f67ba02690?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1631201983450-97f67ba02690?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/xAjDVTbZCXc","html":"https://unsplash.com/photos/xAjDVTbZCXc","download":"https://unsplash.com/photos/xAjDVTbZCXc/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ","download_location":"https://api.unsplash.com/photos/xAjDVTbZCXc/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzY5MzA1ODQ"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"ns-L63cDAE8","updated_at":"2021-11-13T19:50:39-05:00","username":"matty_valentino","name":"Matthew
        Valentino","first_name":"Matthew","last_name":"Valentino","twitter_username":"matty_valentino","portfolio_url":"https://www.youtube.com/channel/UCd4OiMDqFeL9sY-AGuLmWfQ?view_as=subscriber","bio":"Pretend
        Racecar Driver - Content Creator - Photography Lover - Host of the Fueled
        Up Podcast - Check out my Youtube Channel!","location":"Queens, New York","links":{"self":"https://api.unsplash.com/users/matty_valentino","html":"https://unsplash.com/@matty_valentino","photos":"https://api.unsplash.com/users/matty_valentino/photos","likes":"https://api.unsplash.com/users/matty_valentino/likes","portfolio":"https://api.unsplash.com/users/matty_valentino/portfolio","following":"https://api.unsplash.com/users/matty_valentino/following","followers":"https://api.unsplash.com/users/matty_valentino/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1590790560090-0e782f48e68eimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1590790560090-0e782f48e68eimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1590790560090-0e782f48e68eimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"https://www.instagram.com/matty_st/","total_collections":0,"total_likes":44,"total_photos":122,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"https://www.instagram.com/matty_st/","portfolio_url":"https://www.youtube.com/channel/UCd4OiMDqFeL9sY-AGuLmWfQ?view_as=subscriber","twitter_username":"matty_valentino","paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark III","name":"Canon, EOS 5D Mark III","exposure_time":"1/250","aperture":"5.6","focal_length":"105.0","iso":100},"location":{"title":"Englishtown,
        NJ, USA","name":"Englishtown, NJ, USA","city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":3343,"downloads":9}'
  recorded_at: Sun, 14 Nov 2021 22:56:24 GMT
recorded_with: VCR 6.0.0
