---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"b0911e64b20572ec8d8b5c178fa87a94"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"M8PcBp-GLnA","created_at":"2020-05-31T15:40:54-04:00","updated_at":"2021-11-15T10:17:04-05:00","promoted_at":null,"width":5740,"height":3827,"color":"#f3f3f3","blur_hash":"L$P%bGofIVkC_Nayozj[IAayofay","description":"Sea
        Wall.","alt_description":"gray concrete wall near body of water during daytime","urls":{"raw":"https://images.unsplash.com/photo-1590953850766-32da74e5e3c8?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1590953850766-32da74e5e3c8?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1590953850766-32da74e5e3c8?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1590953850766-32da74e5e3c8?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1590953850766-32da74e5e3c8?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/M8PcBp-GLnA","html":"https://unsplash.com/photos/M8PcBp-GLnA","download":"https://unsplash.com/photos/M8PcBp-GLnA/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg","download_location":"https://api.unsplash.com/photos/M8PcBp-GLnA/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwMjA3Mzg"},"categories":[],"likes":4,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"BQihZxfNOaQ","updated_at":"2021-11-14T19:16:50-05:00","username":"davidtoddmccarty","name":"David
        Todd McCarty","first_name":"David Todd","last_name":"McCarty","twitter_username":"davidtmccarty","portfolio_url":"http://www.hoppingfrogstudios.com","bio":"Writer,
        Photographer, Filmmaker, and Journalist. Follow me on Instagram @davidtoddmccarty
        and Twitter @davidtmccarty","location":"Cape May, New Jersey","links":{"self":"https://api.unsplash.com/users/davidtoddmccarty","html":"https://unsplash.com/@davidtoddmccarty","photos":"https://api.unsplash.com/users/davidtoddmccarty/photos","likes":"https://api.unsplash.com/users/davidtoddmccarty/likes","portfolio":"https://api.unsplash.com/users/davidtoddmccarty/portfolio","following":"https://api.unsplash.com/users/davidtoddmccarty/following","followers":"https://api.unsplash.com/users/davidtoddmccarty/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1589985217114-0c6661d64abdimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1589985217114-0c6661d64abdimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1589985217114-0c6661d64abdimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"davidtoddmccarty","total_collections":4,"total_likes":156,"total_photos":313,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"davidtoddmccarty","portfolio_url":"http://www.hoppingfrogstudios.com","twitter_username":"davidtmccarty","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"title":"Stone
        Harbor, NJ, USA","name":"Stone Harbor, NJ, USA","city":"Stone Harbor","country":"United
        States","position":{"latitude":39.046407,"longitude":-74.764361}},"views":58158,"downloads":235}'
  recorded_at: Mon, 15 Nov 2021 23:58:58 GMT
recorded_with: VCR 6.0.0
