---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=aaE2BmH30tpR_I9LKTOdYhSGKLsnPcHWe6a6ulmCQPM&query=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"51de642b9c0db483a8787a088e3b7e29"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"26p9YKkUZD4","created_at":"2019-09-23T10:31:14-04:00","updated_at":"2021-11-16T06:12:38-05:00","promoted_at":"2019-09-24T02:40:23-04:00","width":5475,"height":3636,"color":"#262626","blur_hash":"LyINy%%KIrWD~VxaWCazOGWE$zod","description":"Sunrise
        ","alt_description":"man standing beside fence","urls":{"raw":"https://images.unsplash.com/photo-1569248988946-1d129c4c8e30?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1569248988946-1d129c4c8e30?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1569248988946-1d129c4c8e30?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1569248988946-1d129c4c8e30?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1569248988946-1d129c4c8e30?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/26p9YKkUZD4","html":"https://unsplash.com/photos/26p9YKkUZD4","download":"https://unsplash.com/photos/26p9YKkUZD4/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk","download_location":"https://api.unsplash.com/photos/26p9YKkUZD4/download?ixid=MnwyNzU2NDR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcwODMwNjk"},"categories":[],"likes":127,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"jYk7RSUTR4I","updated_at":"2021-11-03T19:14:25-04:00","username":"bbasch","name":"Benjamin
        Basch","first_name":"Benjamin","last_name":"Basch","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/bbasch","html":"https://unsplash.com/@bbasch","photos":"https://api.unsplash.com/users/bbasch/photos","likes":"https://api.unsplash.com/users/bbasch/likes","portfolio":"https://api.unsplash.com/users/bbasch/portfolio","following":"https://api.unsplash.com/users/bbasch/following","followers":"https://api.unsplash.com/users/bbasch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1569249237576-d53d6c90d468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1569249237576-d53d6c90d468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1569249237576-d53d6c90d468image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":1,"total_likes":10,"total_photos":13,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D5300","name":"NIKON CORPORATION, NIKON D5300","exposure_time":"1/500","aperture":"11","focal_length":"40.0","iso":400},"location":{"title":"Asbury
        Park, NJ, USA","name":"Asbury Park, NJ, USA","city":"Asbury Park","country":"United
        States","position":{"latitude":40.2203907,"longitude":-74.0120817}},"views":45290,"downloads":1290}'
  recorded_at: Tue, 16 Nov 2021 17:17:49 GMT
recorded_with: VCR 6.0.0
