---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&location=Sparta,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 17:47:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Sparta,
        NJ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sparta","adminArea5Type":"City","adminArea4":"Sussex
        County","adminArea4Type":"County","adminArea3":"NJ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282919395","unknownInput":"","type":"s","latLng":{"lat":41.03608,"lng":-74.636612},"displayLatLng":{"lat":41.03608,"lng":-74.636612},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=t1bj6kracYCr28Z9NcN41TUGFprdDw0b&type=map&size=225,160&locations=41.03608,-74.636612|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-902429913"}]}]}'
  recorded_at: Mon, 15 Nov 2021 17:47:13 GMT
recorded_with: VCR 6.0.0
